<a href="https://colab.research.google.com/github/ayeCODING/Project_aye2/blob/master/UTS_Alpro_Salman_Ay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Untuk menentukan studi kasus

nim = 25552011100
ni = 2+5+5+5+2+0+1+1+1+0+0
hasil = ni % 10

print(ni)
print(hasil)

22
2

In [ ]:
#Nama        : Salman Ananda Yustie
#NIM         : 25552011100
#Kelas       : TIF RP 25D
#StudiKasus  : 2

#Studi kasus 2: Penentu Harga Tiket Masuk Objek Wisata
#Tujuan Program: Untuk mennetukan harga tiket sesuai usia pengunjung

In [6]:
# Meminta input usia dari pengguna
usia = int(input("Masukkan usia Anda: "))

# Menentukan harga tiket berdasarkan usia
if usia < 12:
    harga_tiket = 25000  # 25k untuk Anak-anak
    predikat = "Anak-anak"
elif usia >= 12 and usia <= 17:
    harga_tiket = 40000  # 40k untuk remaja
    predikat = "Remaja"
elif usia >= 18 and usia <= 59:
    harga_tiket = 60000  # 60k untuk dewasa
    predikat = "Dewasa"
else:
    harga_tiket = 0  # Gratis untuk lansia
    predikat = "Lansia"

# Menampilkan harga tiket
print(f"Usia Anda: {usia} tahun ({predikat}) ")
print(f"Harga tiket yang harus dibayar: Rp {harga_tiket:,}")

Masukkan usia Anda: 41
Usia Anda: 41 tahun (Dewasa)
Harga tiket yang harus dibayar: Rp 60,000

In [ ]:
# START
#   INPUT usia

#   IF usia < 12 THEN
#     SET harga_tiket = 25000
#     SET predikat = "Anak-anak"
#   ELSE IF usia >= 12 AND usia <= 17 THEN
#     SET harga_tiket = 40000
#     SET predikat = "Remaja"
#   ELSE IF usia >= 18 AND usia <= 59 THEN
#     SET harga_tiket = 60000
#     SET predikat = "Dewasa"
#   ELSE
#     SET harga_tiket = "Gratis"
#     SET predikat = "Lansia"
#   END IF

#   PRINT "Usia Anda: " + usia + " tahun (" + predikat + ")"

#   IF TYPE(harga_tiket) IS NUMBER THEN
#     PRINT "Harga tiket yang harus dibayar: Rp " + FORMAT_CURRENCY(harga_tiket)
#   ELSE
#     PRINT "Harga tiket yang harus dibayar: " + harga_tiket
#   END IF
# STOP